<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href=""><p>Home</p></a><a href=""><p>Youtube</p></a>
    <p><%= verse %></p>
    <img src=<%= srcImg %>>
    <a href=<%= next %>><p>Next</p></a>
  </body>
</html>
